@use "../../../../common-styles/common.scss";

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  grid-auto-rows: 4.688rem;
  gap: 0.938rem 4.438rem;

  p {
    display: flex;
    flex-flow: column nowrap;
  }

  > button {
    align-self: start;
    justify-self: end;

    grid-row: 3;
    grid-column: 2;

    z-index: 1;
  }
}

.user-name > label,
.user-email > label,
.user-message > label {
  @include common.text-font($alignment: left);

  margin-bottom: 0.563rem;
  font-weight: 600;
}

.user-message {
  grid-row: span 2;
}

.name-field,
.email-field,
.message-field {
  padding: 0.625rem;
  border: 1px solid #5e5e5e;

  font-size: 1rem;
  font-family: Inter;

  border-radius: 10px;
  outline: none;
}

.message-field {
  box-sizing: border-box;
  height: 7.813rem;

  overflow-y: auto;
  resize: none;
}

.name-field::placeholder,
.email-field::placeholder,
.message-field::placeholder {
  @include common.text-font($alignment: left);
  color: #5e5e5e;
}

.requset-status {
  grid-row: 3;
  grid-column: 1 / -1;

  text-align: center;
  align-self: center;
}

.loader {
  width: 50px;

  align-self: center;
  justify-self: center;

  grid-row: 3;
  grid-column: 2;
  aspect-ratio: 1;

  border-radius: 50%;
  background: radial-gradient(farthest-side, #ffa516 94%, #0000) top/8px 8px
      no-repeat,
    conic-gradient(#0000 30%, #ffa516);

  mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
