.header {
  display: flex;
  padding: 2.25rem 2rem;

  justify-content: space-between;
  align-items: center;

  margin-bottom: 1.563rem;

  @media (max-width: 75.25rem) {
    padding: 1.5rem 1.5rem;
  }

  // @media (max-width: 48rem) {
  //   margin-bottom: 0;
  // }

  @media (max-width: 30rem) {
    padding: 1rem 1rem;
  }
}

.devName {
  font-size: 2rem;
  font-weight: 700;

  line-height: 1.22;
  color: #111111;

  @media (max-width: 75rem) {
    font-size: 1.5rem;
  }
}
