@use "../../../styles/common.scss";

.projects {
  padding: 1.563rem 0;
  margin-bottom: 1.563rem;
}

.article-header {
  margin-bottom: 4rem;
}

.title {
  padding: 0.278em;
  position: relative;
  @include common.header-font;
}

.title::after {
  content: "";
  position: absolute;

  top: 2.875em;
  left: 50%;

  width: 7.306em;
  border: 1px solid #5e5e5e;

  transform: translate(-50%, 0);
}

.filterPanelContainer {
  margin-bottom: 6rem;
}

.filterPanel {
  display: flex;
  justify-content: center;

  column-gap: 1.3rem;

  li {
    cursor: pointer;
    padding: 0.25em;
    border-radius: 50px;

    transition: box-shadow 0.5s;
  }

  li:hover {
    box-shadow: 0px 0.5em 0.85em 0px #ffdb00;
  }
}

.pet-projects {
  display: grid;
  gap: 4.688rem 7.063rem;

  justify-content: center;
  grid-template-columns: repeat(2, 30.875rem);
}

.project {
  padding: 0.625rem;
  position: relative;
  > img {
    height: 374px;
    max-width: 100%;
    margin-bottom: 0.625rem;
  }
}

.project-title {
  padding: 0.417em 0;
  margin-bottom: 2.5rem;
  @include common.header-font($alignment: left);
}

.project-title::after {
  content: "";
  position: absolute;

  top: calc(28.313rem + 0.625rem); // 'cause added the padding to .project
  left: 0.625rem;

  width: calc(100% - 1.25rem); // 'cause added the padding to .project
  border: 1px solid #5e5e5e;
}

.project-description {
  padding: 0.556em 0;
  margin-bottom: 0.556em;
  @include common.text-font($alignment: left);
}

.tech-stack {
  display: flex;

  align-items: center;
  flex-wrap: wrap;
  gap: 2.25rem 1.2rem;

  li {
    font-size: 0.75rem;
    line-height: 1.25;
    text-align: center;
    color: #000000;
  }

  margin-bottom: 0.625rem;
}

.project-links {
  display: flex;
  align-items: center;
  gap: 1.25rem 1rem;

  a {
    display: inline-block;
  }
}
