@use "../../../common-styles/common.scss";

.projects {
  padding: 1.563rem 0;
  margin-bottom: 1.563rem;
  position: relative;
}

.article-header {
  margin-bottom: 4rem;
}

.title {
  padding: 0.625rem 0;
  @include common.header-font;
}

.title::after {
  content: "";
  position: absolute;

  top: 2.75em;
  left: 50%;

  width: 7.306em;
  border: 1px solid #5e5e5e;

  transform: translate(-50%, 0);
}

.pet-projects {
  display: grid;
  gap: 4.688rem 7.063rem;

  justify-content: center;
  grid-template-columns: repeat(2, 30.875rem);
}
