@use "../../../styles/common.scss";

.about-me {
  display: flex;
  position: relative;

  flex-direction: column;
  align-items: center;

  padding: 4.844rem 0;
  margin-bottom: 1.563rem;
}

.article-header {
  margin-bottom: 2.844rem;
}

.title {
  padding: 0.278em;
  @include common.header-font;
}

.title::after {
  content: "";
  position: absolute;

  top: 4.208em;
  left: 50%;

  width: 7.306em;
  border: 1px solid #5e5e5e;

  transform: translate(-50%, 0);
}

.tech-text {
  padding: 0.556em;
  margin-bottom: 1.563rem;

  max-width: 55rem;
  @include common.text-font($alignment: center);
}

.tech-stack {
  display: flex;
  max-width: 18.875rem;

  align-items: center;
  justify-content: center;

  gap: 0.625rem 0.938rem;
  flex-wrap: wrap;

  li {
    font-size: 0.75rem;
    line-height: 1.25;
    text-align: center;
    color: #000000;
  }
}
