@use "../../../common-styles/common.scss";

.hero {
  display: flex;
  position: relative;

  flex-flow: column wrap;
  align-items: center;

  padding: 1.563rem 0;
  margin-bottom: 1.563rem;

  @media (max-width: 48rem) {
    margin-bottom: 0;
  }
}

.article-header {
  margin-bottom: 4.375rem;

  @media (max-width: 64rem) {
    margin-bottom: 2.375rem;
  }
}

.title {
  padding: 0.625rem 0;
  @include common.header-font($line-height: 1.21);

  @media (max-width: 64rem) {
    font-size: 2.4rem;
  }

  @media (max-width: 48rem) {
    font-size: 2rem;
  }
}

.title::after {
  content: "";
  position: absolute;

  top: 2.875em;
  left: 50%;

  width: 5.479em;
  border: 1px solid #5e5e5e;

  transform: translate(-50%, 0);
}

.about-me {
  padding: 0.625rem;
  margin-bottom: 1.563rem;

  text-align: center;
  font-size: 1.125rem;

  line-height: 1.23;
  max-width: 50rem;
}

.nav-buttons {
  display: flex;

  flex-flow: row wrap;
  gap: 61px;

  @media (max-width: 30rem) {
    flex-direction: column;
    justify-content: center;
    gap: 35px;
  }
}
